<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!-- <class name="scripts.SelectDeliveryAreaTest"/>-->
      <class name="scripts.CheckContactUsTxt"/>
      <class name="scripts.CheckCopyrightFooter"/>
      <class name="scripts.CheckingMenuItems"/>
      <class name="scripts.CheckEmailDisplayed"/>
      <class name="scripts.CheckingOrdersDrpDwn"/>
      <class name="scripts.CheckPhoneNumberDisplayed"/>
      <class name="scripts.ItemDetails"/>
      <class name="scripts.CheckDatePicker"/>
      <class name="scripts.CheckOrderOnlineNow"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
